.searchBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
}
.logo {
  padding: 10px;
  margin-right: 5px;
  font-size: 40px;
  text-align: center;
}

h1 {
  font-size: 25px;
  padding-left: 15px;
}
input {
  width: 150px;
  height: 20px;
}

.searchBar-icons {
  display: flex;
  font-size: 20px;
  width: 120px;
  justify-content: space-between;
  color: grey;
}
