.comment-section {
  padding: 10px;
}
.comment-action-icons {
  font-size: 20px;
  margin-bottom: 5px;
}
.comment-heart {
  margin-right: 10px;
}
.comment-likes {
  font-size: 14px;
}
.comment {
  font-size: 14px;
}
.comment-username {
  margin-right: 5px;
}
.comments {
  margin: 10px 0;
}
.comment-timestamp {
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}
.hr {
  background-color: rgb(228, 228, 228);
  height: 1px;
  border: 0;
}
.comment-input {
  width: 92%;
  margin: 8px;
  border: none;
  font-size: 14px;
}
