.postList {
  width: 500px;
  margin: 0 auto;
}
.post {
  border: 1px solid #d3d3d3;
  margin: 40px 0;
}
.post-header {
  display: flex;
  padding: 10px;
  align-items: center;
}
.post-thumb {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
}
.post-username {
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
}

.post-image {
  width: 100%;
}
